<div class="w-screen max-w-[1340px] flex flex-col mt-[780px] mx-auto items-center justify-between">
  <h1 class="text-3xl text-primary-dark font-medium mb-4 relative text-center after:content-[''] after:block after:w-20 after:h-1 after:bg-primary-dark after:mt-2 after:mx-auto after:rounded-full">About us</h1>
  <img src="assets/images/logo.png" class="w-[150px] my-14" alt="logo"/>
  <p class="text-justify mb-8 max-w-[886px] text-lg text-secondary-dark" ><span class="font-bold">Shish Advanced Composites Private Limited</span> is a leading manufacturer dedicated to creating high-performance, customized advanced composite solutions. Our expertise encompasses everything from design and development to the manufacturing of tooling, jigs, fixtures, and composite products.</p>

  <p class="text-justify mb-8 max-w-[886px] text-lg text-secondary-dark" >Operating from our <span class="font-bold">state-of-the-art facility</span> in <span class="font-bold">Surat, Gujarat, India.</span> we pride ourselves on delivering innovative, durable, and efficient solutions that meet the unique needs of a wide range of industries.</p>
</div>
