<div class="w-screen h-[646px] mt[-50px] bg-secondary-dark flex justify-between">
 <div class="mt-[200px] ml-24">
   <h1 class="text-5xl text-white font-medium mb-6 relative after:content-[''] after:block after:w-28 after:h-0.5 after:bg-white after:mt-4 after:rounded-full">About Us</h1>
   <p class="text-sm text-white max-w-[590px]">Shish Advanced Composites Private Limited is a leading manufacturer dedicated to creating high-performance, customized advanced composite solutions.</p>
   <p class="text-sm text-white mt-2 max-w-[590px]">Our expertise encompasses everything from design and development to the manufacturing of tooling, jigs, fixtures, and composite products. Operating from our state-of-the-art facility in Surat, Gujarat, India, we pride ourselves on delivering innovative, durable, and efficient solutions that meet the unique needs of a wide range of industries.</p>
 </div>
  <img src="assets/images/about-us-hero.png">
</div>
<div class="flex justify-between max-w-[1111px] mx-auto mt-24">
  <div class="">
    <h1 class="text-4xl text-primary-dark font-medium mb-6 relative after:content-[''] after:block after:w-28 after:h-0.5 after:bg-primary-dark after:mt-4 after:rounded-full">
      Our Vision</h1>
    <p class="text-sm text-primary-dark max-w-[590px]">To be the most trusted and valued partner in the Advanced Composites Industry, delivering innovative solutions that exceed customer expectations & drive sustainable growth. To be the most trusted partner in advanced composites, delivering innovative solutions for sustainable growth.</p>
  </div>
  <img src="assets/images/our-vision.png" class="w-[317px] rounded-xl">
</div>
<div class="flex justify-between max-w-[1111px] mx-auto mt-[120px]">
  <img src="assets/images/our-mission.png" class="w-[317px] rounded-xl">
  <div class="">
    <h1 class="text-4xl text-primary-dark font-medium mb-6 relative after:content-[''] after:block after:w-28 after:h-0.5 after:bg-primary-dark after:mt-4 after:rounded-full">
      Our Mission</h1>
    <p class="text-sm text-primary-dark max-w-[590px]">To design and deliver cutting-edge advanced composite solutions that drive innovation, enhance performance, and promote sustainability. We are committed to building lasting relationships with our customers by consistently exceeding expectations and contributing to a more efficient future.</p>
  </div>
</div>
<div class="my-24 py-14 bg-grey/20">
  <h1 class="text-3xl text-primary-dark font-medium mb-16 relative text-center after:content-[''] after:block after:w-20 after:h-1 after:bg-primary-dark after:mt-2 after:mx-auto after:rounded-full">Leadership Team</h1>
  <div class="max-w-[1300px] mx-auto grid grid-cols-4 grid-rows-1 gap-4 mb-8">
    <div class="flex flex-col w-[310px] items-start justify-start bg-secondary-dark/50 rounded-lg">
      <img src="assets/images/satish-image.png" class="mt-3 w-[284px] mx-auto" alt="satish">
      <h1 class="text-white font-semibold text-xl ml-3 mt-1 text-center">SATISH MANIYA</h1>
      <h1 class="text-primary-dark font-semibold text-sm ml-3 mb-2 text-center">Chairman</h1>
      <p class=" text-xs text-white text-justify mx-3 mb-6">An investor and visionary multipreneur with a deep passion for innovation, focused on driving growth, shaping strategies, and building transformative businesses. Founder – Director of Shish Industries Ltd, the investing firm of Shish Advanced Composites</p>
    </div>
    <div class="flex flex-col w-[310px] items-start justify-start bg-secondary-dark/50 rounded-lg">
      <img src="assets/images/narasimhayya.png" class="mt-3 w-[284px] mx-auto" alt="satish">
      <h1 class="text-white font-semibold text-xl mx-3 mt-1">NARASIMHAYYA GUPTA POKAL</h1>
      <h1 class="text-primary-dark font-semibold text-sm ml-3 mb-2 text-center">Managing Director</h1>
      <p class="text-xs text-white text-justify mx-3 mb-6">Vast experience in Advanced Composites. Starting with LCA and ALH projects at HAL, leading production & program management at L&T, heading operations at the Boeing-funded Tata Aerospace plant, and served as Plant Head at Rockman Advanced Composites – Hero Group</p>
    </div>
    <div class="flex flex-col w-[310px] items-start justify-start bg-secondary-dark/50 rounded-lg">
      <img src="assets/images/deepak.png" class="mt-3 w-[284px] mx-auto" alt="satish">
      <h1 class="text-white font-semibold text-xl ml-3 mt-1 text-center">V K DEEPAK</h1>
      <h1 class="text-primary-dark font-semibold text-sm ml-3 mb-2 text-center">Director - Operations</h1>
      <p class=" text-xs text-white text-justify mx-3 mb-6 ">Extensive expertise in advanced composites manufacturing, with a strong focus on operations, quality management systems (QMS), and continual improvement. Experience spans leadership roles at Rockman Advanced Composites, Suzlon, Ahresty, & Minda, managing production & program operations across aerospace, automotive, motorsports, and wind turbine sectors.</p>
    </div>
    <div class="flex flex-col w-[310px] items-start justify-start bg-secondary-dark/50 rounded-lg">
      <img src="assets/images/srinivas.png" class="mt-3 w-[284px] mx-auto" alt="satish">
      <h1 class="text-white font-semibold text-xl ml-3 mt-1 text-center">SRINIVAS BORGAONKAR</h1>
      <h1 class="text-primary-dark font-semibold text-sm ml-3 mb-2 text-center">Managing Director</h1>
      <p class=" text-xs text-white text-justify mx-3 mb-6">Proven expertise in Business Development, strategy, and market expansion in Automotive and Aerospace sectors, specializing in metallics and composites. Served India, EU and US markets with industry leaders like Rockman-Hero Group, Godrej Aerospace, TVS Group, and Bharat Forge.</p>
    </div>
  </div>
</div>

